div.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 75px;
    width: 900px;
    background: #fff;
    padding-bottom: 30px;
}

div.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

div.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

div.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
    margin-bottom: 15px;
}

div.addtask {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
form.add {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 45px;
    align-items: center;
    margin: auto;
    width: 480px;
    height: auto;
    background: #eaeaea;
    border-radius: 6px;
    flex-direction: column;
    gap: 15px;
}

form.add input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: solid black;
    outline: auto;
    color: #797979;
    font-size: 16px;
}

button.new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    background: #03c04a;
    color: #000;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

div.addtask {
    color: #3c009d;
    font-size: 16px;
    font-weight: 700;
}

button.new img {
    margin: 0px 0px 0px 20px;
    width: 30px;
    height: auto;
}